.addPage {
    background-color: #fff;
    width: 480px;
    max-width:90%;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding:10px;
}

.addForm {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.addForm .col1 {
    float: left;
    margin: 20px 40px 0px 40px;
}
.addForm .col2 {
    float: left;
    margin: 20px 40px 0px 40px;
}
.addForm label {
    font-size: 1.2rem;
}
.addForm input,
.addForm select {
    margin-bottom: 15px;
    height: 30px;
    width: 200px;
    padding: 0 5px;
    font-size: 1rem;
    box-sizing: border-box;  border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
}

.add__button{
    display: flex;
    justify-content: flex-end;
}

.add__button button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.add__button button:hover {
    opacity: 0.8;
}

.add__button .button-add {
    background-color:#BBFFF3;
}

.add__button .button-cancel {
    margin-right: 5%;
}

