.addPage {
    background-color: #d3e5ed;
    height: 370px;
    width: 600px;
    position: fixed;
    top: 20%;
    left: 40%;
    border-radius: 20px;
    box-sizing: border-box;
}

.addForm {
    margin: 15px;
}
.addForm .col1 {
    float: left;
    margin: 20px 40px 0px 40px;
}
.addForm .col2 {
    float: left;
    margin: 20px 40px 0px 40px;
}
.addForm label {
    font-size: 1.2rem;
}
.addForm input,
.addForm select {
    margin-bottom: 15px;
    height: 30px;
    width: 200px;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

.addForm .button-add {
    margin-left: 67%;
    margin-right: 3%;
    width: 60px;
    height: 30px;
    font-size: 1rem;
}
.addForm .button-cancel {
    margin: 0px 10px 0px 0px;
    width: 60px;
    height: 30px;
    font-size: 1rem;
}

.addForm .clear {
    margin-top: -1px;
    overflow: hidden;
    clear: both;
}
