.forgot {
    background-color: pink;
    background: no-repeat center center url("../assets/smart-home-security.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    user-select: none;
}

.forgot-form {
    width: 420px;
    height: 370px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #262837;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #262837;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1.1rem;
}

.forgot-form div span {
    margin-left: 15%;
    margin-bottom: 10px;
    display: block;
}

.forgot-header {
    position: absolute;
    font-size: 1.85rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px;
    color: #ffffff;
}

.forgot-username {
    margin-top: 130px;
    box-sizing: border-box;
    margin-bottom: 8%;
}

.forgot-form input[type="text"] {
    margin-left: 15%;
    width: 70%;
    height: 30px;
    font-size: 1rem;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.forgot-form input[type="password"] {
    margin-left: 15%;
    width: 70%;
    height: 30px;
    font-size: 1rem;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.forgot-form a {
    display: block;
    margin-top: 4px;
    margin-left: 15%;
    max-width: 40%;
    width: fit-content;
    height: 30px;
    margin: auto;
}

.forgot-form input[type="submit"] {
    display: block;
    margin: auto;
    width: 35%;
    height: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
