.modifyPage {
    background-color: #fff;
    width: 480px;
    max-width:90%;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding:10px;
}

.add__button .button-manage{
    margin-right: 25%;
}