*{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #BBFFF3;
    border-bottom: 1px solid wheat;
    padding-right: 70px;
    box-sizing: border-box;
    z-index: 5;
}

.navbar a {
    height: 40px;
    margin-top: 5px;
    text-align: center;
    margin-left: 20px;
    float: right;
}

.navbar a input {
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 1rem;
}

.navbar__select{
    background-color:#fff;
    border-radius: 10px 10px 0 0;
    position: relative;
    padding: 0 6px;
}

.navbar__select input{
    border-radius: 10px 10px 0 0;
}

.navbar__select-curve{
    position: absolute;
    top: 92%;
    left: -10%;
    width: 120%;
    height: 20%;
    background-color: #fff;
}

.navbar__select-curve:before{
    position: absolute;
    left: -2%;
    height:100%;
    background-color: #BBFFF3;
    content: "";
    width:10%;
    bottom:0;
    border-radius: 0 0 10px 0;
    border-bottom: 1px solid wheat;
}

.navbar__select-curve:after{
    position: absolute;
    right: -2%;
    height:100%;
    background-color: #BBFFF3;
    content: "";
    width:10%;
    bottom:0;
    border-radius: 0 0 0 10px;
    border-bottom: 1px solid wheat;

}